<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Web-App</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <% const title = "Web Application for Uhuru CO. Programming test" %>
        <h1><%= title %></h1>
        <p><a href="/form" class="link">登録フォーム画面へ</a></p>
        <p><a href="/index" class="link">登録情報一覧確認画面へ</a></p>
    </body>
</html>